.signbody {
    background-color: #2c3e50;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-container {
    max-width: 400px;
    padding: 40px;
    border: 1px solid #34495e;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #2c3e50;
  }
  
  .signup-container h2 {
    color: #ecf0f1;
    font-size: 28px;
  }
  
  .label-container {
    display: flex;
    align-items: center;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: #95a5a6;
    text-align: left;
    transition: color 0.3s ease-in-out;
  }
  
  .signup-container label:hover {
    color: #3498db;
  }
  
  .signup-container label::after {
    content: '*';
    color: #e74c3c;
    margin-left: 6px;
  }
  
  .signup-container label.required::after {
    content: '*';
    color: #e74c3c;
    margin-left: 6px;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group .password-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #95a5a6;
    font-size: 20px;
  }
  
  .input-group .password-container:hover {
    color: #3498db;
  }
  
  input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #3498db;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #34495e;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #2980b9;
  }
  
  input::placeholder {
    color: #95a5a6;
    font-style: italic;
  }
  
  input.error {
    border-color: #e74c3c;
  }
  
  input.success {
    border-color: #2ecc71;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .signup-container button.log {
    height: 45px;
    width: 45%;
    margin-right: 20px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-container button.sign {
    height: 45px;
    width: 45%;
    background-color: #2ecc71;
    color: #fff;
    border: 1px solid #2ecc71;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-container button.sign:hover {
    background-color: #27ae60;
  }
  
  .signup-container button.log:hover {
    background-color: #2980b9;
  }
  .back {
    background-color: #3498db;
    color: #fff;
    margin: 10px;
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .back:hover {
    background-color: #2980b9;
  }
  
  